Package: cylight.team.ios
Name: API
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: Fix Zalo error: 0585.798.798
Maintainer: HN98
Author: HN98
Section: Tweaks
Homepage: https://hungnguyen9905.bio.link
